.movies-item {
  width: 24%;
  position: relative;
  margin: 0 auto 20px;

  border: 2px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #aaaaaa;
  background-color: #eeeeee;

  overflow: hidden;
}
/*Img area*/
.movies-item_img {
  position: relative;
}

.movies-item_rating {
  /*display: none;*/
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: -100%;
  /*right: 0;*/
  overflow: hidden;

  padding: 30px 10px;

  background-color: transparent;
  transition: all .5s linear;

  font-size: 16px;
  color: #f7f7f7;
  line-height: 1;
}
.movies-item_img:hover .movies-item_rating {
  /*display: block;*/
  left: 0;
  background-color: rgba(40, 40, 40, 0.9);
}
.movies-item_rating > div {
  margin-bottom: 8px;
}
.movies-item_rating .movie-votes {
  margin-bottom: 20px;
}

/*Info area*/
.movies-item_info {
  padding: 10px 10px 40px;
  text-align: left;
}
.movies-item_info_title {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}
.movies-item_info_tagline {
  margin-bottom: 5px;
  padding-left: 5px;
  font-style: italic;
}
.movies-item_info_description {
  font-size: 14px;
  line-height: 1.1;
}
/*Watch btn*/
.btn-wrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.watch-btn {
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #fa7070, #e83535);
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  margin: 5px;
}
.watch-btn span {
  position: relative;
  z-index: 2;
}
.watch-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 5px;
  background: #ff003b;
  transition: all .35s;
}
.watch-btn:hover:after {
  width: 100%;
}
